In [5]:
import pandas as pd

# Read the text file
df = pd.read_csv('example2.txt', header=None)

# Display the DataFrame
print(df)

# data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]
# name, shares, price, date = data
# name

          0
0    Line 1
1    Line 2
2    Line 3
3    Line 4
4  finished

In [8]:
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)
print(s[2])     # Access the element with label 2 (value 30)
print(s.iloc[3]) # Access the element at position 3 (value 40)
print(s[1:4])   # Access a range of elements by label

0    10
1    20
2    30
3    40
4    50
dtype: int64
30
40
1    20
2    30
3    40
dtype: int64

In [ ]:
import pandas as pd
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)
print(df.loc[1])            # Access the second row by label
print(df.iloc[2])           # Access the third row by position
print(df[['Name', 'Age']])  # Select specific columns
print(df[1:3])              # Select specific rows

unique_dates = df['Age'].unique()
print(unique_dates)

# You can filter data in a DataFrame based on conditions using inequality operators
high_above_102 = df[df['Age'] > 25]

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object
Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
[25 30 35 28]